## 2. Загрузка датасета

In [ ]:
# при ошибке загрузки в текущей версии gdown необходимо его обновить
!pip install --upgrade gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.11/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (from gdown) (4.13.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from gdown) (3.17.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.11/dist-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->gdown) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->gdown) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (2025.1.31)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
!gdown --id 1SQihqE13h5sEVzLSaBn9f2l_FdMtxNQb

/usr/local/lib/python3.11/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1SQihqE13h5sEVzLSaBn9f2l_FdMtxNQb
To: /content/movies.csv
100% 1.89M/1.89M [00:00<00:00, 80.4MB/s]

## 3. Подгрузка данных в питон и начало работы с ними

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('movies.csv')

In [ ]:
dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M

## 4. Оценка размеров датасета, наличия дубликатов и пропусков

In [ ]:
dataset.shape

(5000, 11)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   poster       5000 non-null   object
 1   title        5000 non-null   object
 2   certificate  5000 non-null   object
 3   runtime      5000 non-null   object
 4   genre        4970 non-null   object
 5   rating       5000 non-null   float64
 6   about        4986 non-null   object
 7   director     5000 non-null   object
 8   stars        5000 non-null   object
 9   votes        5000 non-null   object
 10  gross_earn   4585 non-null   object
dtypes: float64(1), object(10)
memory usage: 429.8+ KB

In [ ]:
dataset.duplicated().sum()

0

In [ ]:
dataset['gross_earn'].isna().sum()

415

**Выводы:**

1) размер датасета (5000, 11)

2) вся инфрормация в датасете делиться на object и float64. предобработка нужна для votes

3) дубликатов нет

4) есть пропуски. предобработка нужна, но на данный момент я не совсем понимаю что делать

5) любой анализ ['gross_earn'] будет проблематичен, даже если пропуски заполнить средним значением, это все равно будет не тот результат

In [ ]:
rows_with_missing_values = dataset[dataset.isna().any(axis=1)]
rows_with_missing_values

#я решила вывести строки с пропущ значением, просто посмотреть на них

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn
359,https://m.media-amazon.com/images/S/sash/4Fyxw...,It's a Wonderful Life,U,130 min,"Drama, Family, Fantasy",8.6,An angel is sent from Heaven to help a despera...,Frank Capra,"('James Stewart',), ('Donna Reed',), ('Lionel ...","4,49,869",NaN
394,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hotel Rwanda,12A,121 min,"Biography, Drama, History",8.1,NaN,Terry George,"('Don Cheadle',), ('Sophie Okonedo',), ('Joaqu...","3,53,840",$23.53M
430,https://m.media-amazon.com/images/S/sash/4Fyxw...,Downfall,15,156 min,"Biography, Drama, History",8.2,NaN,Oliver Hirschbiegel,"('Bruno Ganz',), ('Alexandra Maria Lara',), ('...","3,53,157",$5.51M
525,https://m.media-amazon.com/images/S/sash/4Fyxw...,To Kill a Mockingbird,A,129 min,"Crime, Drama",8.3,"Atticus Finch, a widowed lawyer in Depression-...",Robert Mulligan,"('Gregory Peck',), ('John Megna',), ('Frank Ov...","3,14,344",NaN
547,https://m.media-amazon.com/images/S/sash/4Fyxw...,Death Proof,18,127 min,"Action, Thriller",7.0,Two separate sets of voluptuous women are stal...,Quentin Tarantino,"('Kurt Russell',), ('Zoë Bell',), ('Rosario Da...","2,89,321",NaN
...,...,...,...,...,...,...,...,...,...,...,...
4986,https://m.media-amazon.com/images/S/sash/4Fyxw...,In China They Eat Dogs,18,91 min,"Action, Comedy, Crime",7.3,"Two brothers, one cold and ruthless, the other...",Lasse Spang Olsen,"('Kim Bodnia',), ('Dejan Cukic',), ('Nikolaj L...","21,869",NaN
4988,https://m.media-amazon.com/images/S/sash/4Fyxw...,Havoc,18,85 min,"Crime, Drama",5.4,Two affluent suburban girls clash with the Lat...,Barbara Kopple,"('Anne Hathaway',), ('Bijou Phillips',), ('Shi...","19,327",NaN
4994,https://m.media-amazon.com/images/S/sash/4Fyxw...,Heist,15,93 min,"Action, Crime, Drama",6.1,A father is without the means to pay for his d...,Scott Mann,"('Robert De Niro',), ('Jeffrey Dean Morgan',),...","30,472",NaN
4996,https://m.media-amazon.com/images/S/sash/4Fyxw...,Playing It Cool,15,94 min,"Comedy, Romance",5.9,Unrequited love motivates a guy to write about...,Justin Reardon,"('Chris Evans',), ('Michelle Monaghan',), ('To...","28,515",NaN
4997,https://m.media-amazon.com/images/S/sash/4Fyxw...,A Moment to Remember,144 min,"Drama, Romance",NaN,8.1,A young couple's enduring love is tested when ...,John H. Lee,"('Jung Woo-sung',), ('Son Ye-jin',), ('Jong-ha...","23,957",NaN

In [ ]:
dataset.isna().sum()
#становится ясно что больше всего пропусков в 'gross_earn'

poster           0
title            0
certificate      0
runtime          0
genre           30
rating           0
about           14
director         0
stars            0
votes            0
gross_earn     415
dtype: int64

## 5. Обработка колонок runtime и gross_earn: приведение к числовому типу

### *5.1. runtime*

In [ ]:
dataset['runtime']

0              142 min
1              152 min
2              148 min
3              139 min
4              154 min
             ...
4995           102 min
4996            94 min
4997    Drama, Romance
4998            92 min
4999           120 min
Name: runtime, Length: 5000, dtype: object

In [ ]:
dataset['runtime'].unique()

array(['142 min', '152 min', '148 min', '139 min', '154 min', '178 min',
       '136 min', '201 min', '175 min', '164 min', '179 min', '127 min',
       '143 min', '155 min', '140 min', '165 min', '169 min', '121 min',
       '118 min', '162 min', '153 min', '151 min', '195 min', '113 min',
       '130 min', '124 min', '122 min', '194 min', '132 min', '202 min',
       '138 min', '119 min', '189 min', '180 min', '137 min', '106 min',
       '111 min', '116 min', '145 min', '110 min', '98 min', '107 min',
       '126 min', '100 min', '131 min', '133 min', '103 min', '108 min',
       '96 min', '99 min', '115 min', '88 min', '120 min', '81 min',
       '135 min', '146 min', '117 min', '104 min', '92 min', '91 min',
       '102 min', '149 min', '170 min', '112 min', '101 min', '141 min',
       '144 min', '114 min', '150 min', '90 min', '161 min', '128 min',
       '93 min', '129 min', '166 min', '147 min', '134 min', '109 min',
       '105 min', '125 min', '156 min', '123 min', '95 min', '157 min',
       '163 min', '158 min', '89 min', '187 min', '167 min', '84 min',
       '94 min', '85 min', '172 min', '160 min', '168 min', '86 min',
       '97 min', '87 min', '183 min', '188 min', '207 min', '159 min',
       '76 min', '229 min', '238 min', '83 min', '218 min', '77 min',
       '181 min', '191 min', '80 min', '212 min', '78 min', '79 min',
       '82 min', '74 min', '185 min', '75 min', '197 min', '69 min',
       '64 min', '224 min', '68 min', '210 min', '177 min', '193 min',
       '67 min', '174 min', '70 min', '220 min', '321 min', 'Comedy',
       '186 min', 'Action, Crime, Mystery', '198 min', '58 min',
       'Comedy, Drama, Romance', 'Comedy, Romance', '192 min', '242 min',
       'Horror', '204 min', 'Comedy, Drama', '171 min', '63 min',
       'Horror, Sci-Fi, Thriller', 'Action, Biography, Drama', '182 min',
       '176 min', '196 min', 'Drama', '205 min', 'Action, Drama, War',
       '71 min', '259 min', '45 min', 'Fantasy, Romance',
       'Action, Crime, Comedy', 'Crime, Drama, Mystery',
       'Action, Adventure, Drama', 'Drama, Horror, Mystery',
       'Crime, Mystery', '213 min', '72 min', '216 min',
       'Comedy, Western', '317 min', 'Adventure, Drama, Romance',
       'Fantasy, Horror', 'Adventure, Comedy', 'Comedy, Family',
       'Adventure, Comedy, Romance', '366 min', 'Action, Comedy',
       'Adventure, Comedy, Fantasy', 'Action, Crime, Thriller',
       'Action, Adventure, Sci-Fi', 'Drama, Romance'], dtype=object)

In [ ]:
import re

In [ ]:
def clear_runtime(runtime):
  digits = re.sub(r"\D+", "", runtime)
  return digits

In [ ]:
dataset['runtime']

0              142 min
1              152 min
2              148 min
3              139 min
4              154 min
             ...
4995           102 min
4996            94 min
4997    Drama, Romance
4998            92 min
4999           120 min
Name: runtime, Length: 5000, dtype: object

In [ ]:
dataset['runtime'].apply(clear_runtime)
#теперь остались цифры

0       142
1       152
2       148
3       139
4       154
       ...
4995    102
4996     94
4997
4998     92
4999    120
Name: runtime, Length: 5000, dtype: object

In [ ]:
dataset['runtime_clear'] = dataset['runtime'].apply(clear_runtime)

In [ ]:
dataset['runtime_clear']

0       142
1       152
2       148
3       139
4       154
       ...
4995    102
4996     94
4997
4998     92
4999    120
Name: runtime_clear, Length: 5000, dtype: object

In [ ]:
dataset['runtime_clear'].isna().sum()

0

In [ ]:
dataset['runtime_clear'][4997]

''

In [ ]:
type(dataset['runtime_clear'][4997])

str

In [ ]:
dataset = dataset[dataset['runtime_clear']!='']

In [ ]:
dataset.shape

(4970, 12)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4970 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster         4970 non-null   object
 1   title          4970 non-null   object
 2   certificate    4970 non-null   object
 3   runtime        4970 non-null   object
 4   genre          4970 non-null   object
 5   rating         4970 non-null   float64
 6   about          4956 non-null   object
 7   director       4970 non-null   object
 8   stars          4970 non-null   object
 9   votes          4970 non-null   object
 10  gross_earn     4574 non-null   object
 11  runtime_clear  4970 non-null   object
dtypes: float64(1), object(11)
memory usage: 504.8+ KB

In [ ]:
dataset['runtime_clear'].astype(int)

0       142
1       152
2       148
3       139
4       154
       ...
4994     93
4995    102
4996     94
4998     92
4999    120
Name: runtime_clear, Length: 4970, dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4970 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster         4970 non-null   object
 1   title          4970 non-null   object
 2   certificate    4970 non-null   object
 3   runtime        4970 non-null   object
 4   genre          4970 non-null   object
 5   rating         4970 non-null   float64
 6   about          4956 non-null   object
 7   director       4970 non-null   object
 8   stars          4970 non-null   object
 9   votes          4970 non-null   object
 10  gross_earn     4574 non-null   object
 11  runtime_clear  4970 non-null   object
dtypes: float64(1), object(11)
memory usage: 504.8+ KB

### *5.2. gross_earn*

In [ ]:
dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M,142
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M,152
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M,148
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M,139
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M,154

In [ ]:
dataset['gross_earn']

0        $28.34M
1       $534.86M
2       $292.58M
3        $37.03M
4       $107.93M
          ...
4994         NaN
4995      $9.40M
4996         NaN
4998      $6.67M
4999      $8.20M
Name: gross_earn, Length: 4970, dtype: object

In [ ]:
def clear_gross_earn(gross_earn):
  #digits = re.sub(r"^0-9.", "", gross_earn)
  digits = re.sub(r"[^\d\.]", "", gross_earn)
  return digits

In [ ]:
dataset['gross_earn'].apply(clear_gross_earn)

TypeError: expected string or bytes-like object, got 'float'

In [ ]:
dataset['gross_earn'].isna().sum()

396

In [ ]:
import numpy as np

In [ ]:
def clear_gross_earn(gross_earn):
  if pd.isna(gross_earn):
    return np.nan
  else:
    return re.sub('[^\d\.]', '', gross_earn)
    # ^-отрицание
    # \d - любая цифра (или 0-9)
    # \. - точка

In [ ]:
dataset['gross_earn'].apply(clear_gross_earn)

0        28.34
1       534.86
2       292.58
3        37.03
4       107.93
         ...
4994       NaN
4995      9.40
4996       NaN
4998      6.67
4999      8.20
Name: gross_earn, Length: 4970, dtype: object

In [ ]:
dataset['gross_earn_clear'] = dataset['gross_earn'].apply(clear_gross_earn)

In [ ]:
dataset['gross_earn_clear']

0        28.34
1       534.86
2       292.58
3        37.03
4       107.93
         ...
4994       NaN
4995      9.40
4996       NaN
4998      6.67
4999      8.20
Name: gross_earn_clear, Length: 4970, dtype: object

In [ ]:
dataset['gross_earn_clear'].astype(float)

0        28.34
1       534.86
2       292.58
3        37.03
4       107.93
         ...
4994       NaN
4995      9.40
4996       NaN
4998      6.67
4999      8.20
Name: gross_earn_clear, Length: 4970, dtype: float64

In [ ]:
dataset['gross_earn_clear']

0        28.34
1       534.86
2       292.58
3        37.03
4       107.93
         ...
4994       NaN
4995      9.40
4996       NaN
4998      6.67
4999      8.20
Name: gross_earn_clear, Length: 4970, dtype: object

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4970 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   poster            4970 non-null   object
 1   title             4970 non-null   object
 2   certificate       4970 non-null   object
 3   runtime           4970 non-null   object
 4   genre             4970 non-null   object
 5   rating            4970 non-null   float64
 6   about             4956 non-null   object
 7   director          4970 non-null   object
 8   stars             4970 non-null   object
 9   votes             4970 non-null   object
 10  gross_earn        4574 non-null   object
 11  runtime_clear     4970 non-null   object
 12  gross_earn_clear  4574 non-null   object
dtypes: float64(1), object(12)
memory usage: 543.6+ KB

## 6. Сортировка по рейтингу

In [ ]:
dataset

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear,gross_earn_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M,142,28.34
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M,152,534.86
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M,148,292.58
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M,139,37.03
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M,154,107.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,https://m.media-amazon.com/images/S/sash/4Fyxw...,Heist,15,93 min,"Action, Crime, Drama",6.1,A father is without the means to pay for his d...,Scott Mann,"('Robert De Niro',), ('Jeffrey Dean Morgan',),...","30,472",NaN,93,NaN
4995,https://m.media-amazon.com/images/S/sash/4Fyxw...,Seven Brides for Seven Brothers,U,102 min,"Comedy, Drama, Musical",7.3,"In 1850 Oregon, when a backwoodsman brings a w...",Stanley Donen,"('Jane Powell',), ('Howard Keel',), ('Jeff Ric...","25,112",$9.40M,102,9.40
4996,https://m.media-amazon.com/images/S/sash/4Fyxw...,Playing It Cool,15,94 min,"Comedy, Romance",5.9,Unrequited love motivates a guy to write about...,Justin Reardon,"('Chris Evans',), ('Michelle Monaghan',), ('To...","28,515",NaN,94,NaN
4998,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hairspray,PG,92 min,"Comedy, Drama, Family",7.0,A 'pleasantly plump' teenager teaches 1962 Bal...,John Waters,"('Sonny Bono',), ('Ruth Brown',), ('Divine',),...","21,536",$6.67M,92,6.67
4999,https://m.media-amazon.com/images/S/sash/4Fyxw...,McCabe & Mrs. Miller,X,120 min,"Drama, Western",7.6,A gambler and a prostitute become business par...,Robert Altman,"('Warren Beatty',), ('Julie Christie',), ('Ren...","25,097",$8.20M,120,8.20

In [ ]:
sorted_dataset = dataset.sort_values(by=['rating'], ascending=False)
sorted_dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear,gross_earn_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M,142,28.34
3788,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hababam Sinifi,12A,87 min,"Comedy, Drama",9.2,"Lazy, uneducated students share a very close b...",Ertem Egilmez,"('Kemal Sunal',), ('Münir Özkul',), ('Halit Ak...","40,492",NaN,87,NaN
9,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather,X,175 min,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"('Marlon Brando',), ('Al Pacino',), ('James Ca...","18,19,641",$134.97M,175,134.97
32,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather: Part II,X,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"('Al Pacino',), ('Robert De Niro',), ('Robert ...","12,49,182",$57.30M,202,57.30
24,https://m.media-amazon.com/images/S/sash/4Fyxw...,Schindler's List,15,195 min,"Biography, Drama, History",9.0,"In German-occupied Poland during World War II,...",Steven Spielberg,"('Liam Neeson',), ('Ralph Fiennes',), ('Ben Ki...","13,33,407",$96.90M,195,96.90

## 7. Переопределение индексов

In [ ]:
sorted_dataset.reset_index(drop=True, inplace=True)
sorted_dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear,gross_earn_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M,142,28.34
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hababam Sinifi,12A,87 min,"Comedy, Drama",9.2,"Lazy, uneducated students share a very close b...",Ertem Egilmez,"('Kemal Sunal',), ('Münir Özkul',), ('Halit Ak...","40,492",NaN,87,NaN
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather,X,175 min,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"('Marlon Brando',), ('Al Pacino',), ('James Ca...","18,19,641",$134.97M,175,134.97
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather: Part II,X,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"('Al Pacino',), ('Robert De Niro',), ('Robert ...","12,49,182",$57.30M,202,57.30
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Schindler's List,15,195 min,"Biography, Drama, History",9.0,"In German-occupied Poland during World War II,...",Steven Spielberg,"('Liam Neeson',), ('Ralph Fiennes',), ('Ben Ki...","13,33,407",$96.90M,195,96.90

## 8. Сохранение датасета

In [ ]:
#sorted_dataset.to_csv('dataset.csv')
sorted_dataset.to_csv('movies_clean_1.csv', index=False)
#sorted_dataset.to_csv('/home/sati/Загрузки/dataset.csv', index=False)

In [ ]:
from google.colab import files
files.download('movies_clean_1.csv')

In [ ]:
dataset.head(2)

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear,gross_earn_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M,142,28.34
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M,152,534.86